.info-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;

}

.posts-container {
    padding-left: 0px;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 8vw;
    padding-top: 8vw;
}

.post-container {
    box-shadow: 3px 4px 6px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 800px;
    height:auto;
    overflow:visible;
    width: 70vw;
    padding-left: 0px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5vw;
    padding: 5vw 5vw 5vw 5vw;
    background-color: white;
}

.post-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.post-container img {
    max-width: inherit;
    max-height: 680px;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.explanation {
    grid-column: 1 / 3;
    grid-row: 2;
    overflow: hidden;
}

.more-less {
    grid-column: 1 / 3;
    grid-row: 4;
    font-weight: bold;
}

.date {
    grid-column: 1 / 2;
    grid-row: 1;
}

.info-container button {
    grid-column: 2 / 3;
    grid-row: 1;
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    color: black;
    border: none;
    margin: 0 auto;
    margin-top: 2vw;
}

.copyright {
    grid-column: 1 / 3;
    grid-row: 3;
}
