/* TODO Add site wide styles */
body, html {
    font-size: 3vw;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow';
    background-image: url("https://i.imgur.com/CJRSmsq.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    height: 100vw;
    position: inherit;
    text-align: center;
    background-image: url("https://i.imgur.com/CJRSmsq.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

.user-header-name {
    color: white;
    font-size: 8vw;
    /* vertical-align: center; */
    font-family: 'Bebas Neue';
    padding-top: 10%;
    padding-left: 25%;
    height: 50px;
    width: 50%;
    text-shadow: 5px 5px 5px black;
}

.demo-header button{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 10vw;
    width: 25vw;
    font-family: 'Bebas Neue';
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.nav-container {
    background-color: rgba(255,255,255,0.5);
    height: 10vw;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.nav-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
    font-size: 7vw;
}

.nav-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container button {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 5vw;
    font-family: 'PT Sans Narrow';
}

.nav-container button:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
}

.manna-info {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.manna-info a {
    color: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
    text-decoration: none;
}


@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
